@charset "UTF-8";
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.7;
  font-weight: 400;
  font-family: 'Roboto', 'Noto Sans JP', sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

fieldset {
  border: none;
}

/*----------------------------------------------------------
◆SmartPhone  : 320px〜540px
  iPhone 12mini   : 5.4インチ、375 × 667
  iPhone 12ProMax : 6.7インチ、428 × 926
  ※最小幅は320px（iPadminiのsplit viewもこの値）
  ※利用率が高いのは375pxだが320pxで表示崩れ（横スクロールなど）がないか確認することが確実。

  max-width : 599px
  min-width : 設定なし（実質599px以下）

  ここでの変数、breakpoint_small

◆Tablet      : 600px〜1024px
  iPadAir 4 : 10.9インチ、820 × 1180
  タブレットの最小サイズは  600px
  最もシェア率の高いサイズが  768 × 1024。つまり横にすると幅は1024px

  max-width : 1024px
  min-width : 600px

  ここでの変数、breakpoint_middle

◆PC          : 1280px〜
  PCのブレイクポイントはタブレット1024pxにプラス1px加えた1025px。
  PCのブレイクポイントは1280px以下で設定が無難。

  max-width : 設定なし（実質1025px以上）
  min-width : 1025px

  ここでの変数、breakpoint_large

  


モバイルファーストなら、min-width
PCファーストなら、max-width

参照URL
https://daib-log.com/responsive/
----------------------------------------------------------*/
/* variable */
/* ヘッダー全般 */
.l-header {
  width: 100%;
  height: 75px;
  background-color: #1B1310;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
  /* 境界線に白いのボーダー */
  position: fixed;
  /* メニュー */
}

.l-header > h1 {
  font-size: 2.6rem;
  margin-left: 15px;
  /* SP基準--PC-- */
}

@media (min-width: 1025px) {
  .l-header > h1 {
    margin-left: 120px;
  }
}

.l-footer {
  height: 60px;
  /* SP基準--PC-- */
  background-color: #1B1310;
  color: #fff;
  display: flex;
  /* 親要素に指定 */
  justify-content: center;
  /* 水平方向の指定 */
  align-items: center;
  /* 垂直方向の指定 */
}

@media (min-width: 1025px) {
  .l-footer {
    height: 80px;
  }
}

.l-footer p {
  font-size: 1.4rem;
}

.c-button--submit {
  width: 235px;
  padding: 15px;
  background: #1B1310;
  color: #fff;
  border: none;
  border-radius: 2.35em;
  /* 角丸 */
  box-shadow: 0 0 10px #1B1310;
  cursor: pointer;
  outline: none;
  appearance: none;
  font-size: 2.0rem;
  font-weight: 700;
  display: block;
}

.c-dl--level1 {
  /* レスポンシブ対応 */
  /* SP基準--PC-- */
}

.c-dl--level1 dt {
  margin-bottom: 20px;
}

.c-dl--level1 dd {
  font-size: 1.4rem;
  margin-bottom: 40px;
}

@media (min-width: 1025px) {
  .c-dl--level1 {
    margin-bottom: 0px;
  }
  .c-dl--level1 dd {
    margin-bottom: 0px;
  }
}

.c-dl--level2 {
  width: 320px;
}

.c-dl--level2 dt {
  height: 200px;
}

.c-dl--level2 dd {
  padding: 30px 35px;
  font-size: 1.3rem;
}

.c-layout-list {
  display: flex;
  /* 親要素に指定 */
  flex-direction: column;
  /* 積み重なるように配置する */
  justify-content: center;
  /* 水平方向の指定 */
  align-items: center;
  /* 垂直方向の指定 */
}

.c-layout-list__item {
  max-width: 345px;
  margin-bottom: 50px;
  /* レスポンシブ対応 */
  /* SP基準--PC-- */
}

.c-layout-list__item:last-of-type {
  margin-bottom: 0;
}

@media (min-width: 1025px) {
  .c-layout-list__item {
    max-width: 1030px;
  }
  .c-layout-list__item:nth-child(odd) .p-card {
    flex-direction: row-reverse;
  }
  .c-layout-list__item:nth-child(odd) .p-card__caption {
    padding-left: 70px;
  }
  .c-layout-list__item:nth-child(even) .p-card__caption {
    padding-right: 70px;
  }
  .c-layout-list__item .p-card {
    display: flex;
    /* 親要素に指定 */
    flex-direction: row;
    /* 横並びに配置する */
    justify-content: center;
    /* 水平方向の指定 */
    align-items: center;
    /* 垂直方向の指定 */
  }
}

/* News　レスポンシブ　縦並び→横並び */
.c-layout-list--row {
  display: flex;
  /* 親要素に指定 */
  flex-direction: column;
  /* 積み重なるように配置する */
  justify-content: center;
  /* 水平方向の指定 */
  align-items: center;
  /* 垂直方向の指定 */
  /* レスポンシブ対応 */
  /* SP基準--PC-- */
}

@media (min-width: 1025px) {
  .c-layout-list--row {
    flex-direction: row;
  }
}

.c-layout-list--row__item {
  max-width: 345px;
  margin-bottom: 50px;
  /* 横並び */
  /* SP基準--PC-- */
}

.c-layout-list--row__item:last-of-type {
  margin-bottom: 0;
}

@media (min-width: 1025px) {
  .c-layout-list--row__item {
    max-width: 1030px;
    margin: 0px;
    margin-right: 35px;
  }
  .c-layout-list--row__item:last-of-type {
    margin-right: 0;
  }
}

.c-section-title, .c-section-title--small {
  font-size: 3.6rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 70px;
}

.c-section-title--small {
  font-size: 2.4rem;
  margin-bottom: 75px;
}

h3 {
  line-height: 2.0;
}

dd {
  line-height: 2.14;
}

.p-main__about {
  margin: 0px auto;
  padding: 100px 15px 150px;
  max-width: 1030px;
}

.p-main__about dt {
  margin-bottom: 30px;
}

.p-card {
  /* レスポンシブ対応 */
  /* SP基準--PC-- */
}

.p-card--shadow {
  width: 320px;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  /* 横方向 縦方向 (ぼかし) (広がり) (影の色) (影の向き) */
  box-shadow: 0 0 10px #1B1310;
}

.p-main__contact {
  margin: 0px auto;
  padding: 0px 15px;
  max-width: 700px;
  /* 送信ボタンのセンタリング */
}

.p-main__contact fieldset {
  margin-bottom: 22px;
}

.p-main__contact fieldset:last-of-type {
  margin-bottom: 0;
}

.p-main__contact fieldset input, .p-main__contact fieldset textarea {
  width: 100%;
  border: 1.5px solid #141414;
  /* 枠線 */
}

.p-main__contact .c-button--submit {
  margin: 50px auto;
}

.p-main__first-view {
  width: 100%;
  height: 90vh;
  background-color: #1B1310;
  background-image: url(/img/mainvisual-bg_sp.jpg);
  background-position: center;
  background-size: cover;
  /* 画像の縦横比を崩すことなく、画像ができるだけ大きくなるよう拡大縮小 */
  display: flex;
  justify-content: center;
  align-items: center;
  /* 要素の真ん中へ */
  /* SP基準--PC-- */
}

@media (min-width: 1025px) {
  .p-main__first-view {
    background-image: url(/img/mainvisual-bg.jpg);
  }
}

.p-main__first-view .p-main__first-view__catch-copy {
  font-size: 30px;
  color: #fff;
  border: 2px solid #fff;
  padding: 30px 40px;
  white-space: nowrap;
  /* SP基準--PC-- */
}

@media (min-width: 1025px) {
  .p-main__first-view .p-main__first-view__catch-copy {
    font-size: 50px;
    padding: 34px 42px;
  }
}

.p-gnavi .p-gnavi__menu {
  display: none;
  /* SP基準--PC-- */
}

@media (min-width: 1025px) {
  .p-gnavi .p-gnavi__menu {
    display: flex;
  }
}

/* ハンバーガーメニューボタン */
.p-hamburger {
  color: #fff;
  background-color: #1B1310;
  display: block;
  /* ブロックレベルで表示 */
  width: 55px;
  /* 幅 */
  height: 75px;
  /* 高さ */
  position: relative;
  /* 通常の位置を基準とした相対的な配置 */
  border: none;
  /* 線なし */
  cursor: pointer;
  /* リンクカーソル */
  /* SP基準--PC-- */
  /* 三本線のマージン指定 */
  /*  */
}

@media (min-width: 1025px) {
  .p-hamburger {
    display: none;
  }
}

.p-hamburger > .bar {
  width: 25px;
  height: 2px;
  display: block;
  /* ブロックレベルで表示 */
  position: absolute;
  /* 絶対位置 */
  background-color: #fff;
  left: 50%;
  /* 要素の真ん中 */
  transform: translateX(-50%);
  /* X方向の子要素の半分戻る */
}

.p-hamburger .bar_top {
  top: 30px;
}

.p-hamburger .bar_mid {
  top: 50%;
  transform: translate(-50%, -50%);
}

.p-hamburger .bar_bottom {
  bottom: 29px;
}

.p-hamburger .p-hamburger.is-open .bar_top {
  transform: translate(-50%, 10px) rotate(45deg);
  transition: transform .3s;
}

.p-hamburger .p-hamburger.is-open .bar_mid {
  opacity: 0;
  transition: opacity .3s;
}

.p-hamburger .p-hamburger.is-open .bar_bottom {
  transform: translate(-50%, -8px) rotate(-45deg);
  transition: transform .3s;
}

.p-hamburger body.noscroll {
  overflow: hidden;
}

.p-hamburger .js-hamburger {
  width: 100%;
  height: 100%;
  background-color: #1B1310;
  z-index: 2;
}

.p-hamburger .js-hamburger .p-gnavi__menu {
  display: flex;
  position: absolute;
  /*絶対位置*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.p-hamburger .js-hamburger .p-gnavi__menu li {
  margin-right: 0;
  margin-bottom: 40px;
}

.p-hamburger .p-gnavi__menu {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

/*ボタンをクローズ*/
.p-main__news {
  padding: 0px 15px 150px;
}

.p-main__service {
  margin: 0px auto;
  padding: 0px 15px 150px;
  max-width: 1030px;
  /* レスポンシブ対応 */
  /* SP基準--PC-- */
}

@media (min-width: 1025px) {
  .p-main__service {
    padding: 0px 0px 150px;
  }
}
/*# sourceMappingURL=style.css.map */