.c-dl--level1{
    //width: 345px;
    //margin: 0px 70px;
    dt{
        margin-bottom: 20px;
    }
    dd{
        margin-bottom: 40px;
    }
    /* レスポンシブ対応 */
    @include breakpoint( breakpoint_middle ){
        margin: 0px 70px;
        dd{
            margin-bottom: 0px;
        }
    }
}

.c-dl--level2{
    width: 320px;
    dt{
        height: 200px;
    }
    dd{
        padding: 30px 35px;
        font-size: 1.3rem;
        // margin-bottom: 30px;
    }
    // figcaption{
    //     margin-bottom: 50px;
    // }
}