// .c-dl--level1{


// }

.c-dl--level2{
    width: 320px;
    dt{
        height: 200px;
    }
    dd{
        padding: 30px 35px;
        font-size: 1.3rem;
        // margin-bottom: 30px;
    }
    // figcaption{
    //     margin-bottom: 50px;
    // }




}