.p-main__contact{
    margin: 0px auto;   // 中央寄せ
    padding: 0px 15px;  // 上　左右
    max-width: 700px;
    fieldset{
        margin-bottom: 22px;    // 各項目の下の余白
        &:last-of-type{
            margin-bottom: 0;   // 最後の項目だけ余白なし
        }
        input, textarea {
            width: 100%;
            border: 1.5px solid #141414;  /* 枠線 */
            // padding: 10px;
            // font-size: 1.4rem;
            // display: block;
            // box-sizing: border-box;
        }
    }

    /* 送信ボタンのセンタリング */
    .c-button--submit {
        margin: 50px auto;  // 上下に50px、左右は中央寄せ
    }
}