/* ハンバーガーメニューボタン */
.p-hamburger {
    display: block;         /* ブロックレベルで表示 */
    width: 55px;            /* 幅 */
    height: 55px;           /* 高さ */
    position: relative;     /* 通常の位置を基準とした相対的な配置 */
    border: none;           /* 線なし */
    cursor: pointer;        /* リンクカーソル */

    /* ハンバーガーメニューボタン　装飾 */
    .bar{
        width: 25px;
        height: 2px;
        display: block;                 /* ブロックレベルで表示 */
        position: absolute;             /* 絶対位置 */
        background-color: $color--title-color;
        left: 50%;                      /* 要素の真ん中 */
        transform: translateX(-50%);    /* X方向の子要素の半分戻る */

        /* 三本線のマージン指定 */
        &-top{
            top: 20px;
        }
        &-middle{
            top: 50%;
            transform: translate(-50%,-50%);
        }
        &-bottom{
            bottom: 19px;
        }
    }

    /* ボタンの開閉　is-openの付与 ×ボタンになる*/
    &.is-open{
        .bar-top{
            transform: translate(-50%,10px) rotate(45deg);
            transition: transform .3s;
        }
        .bar-middle{
            opacity: 0;
            transition: opacity .3s;
        }
        .bar-bottom{
            transform: translate(-50%,-4px) rotate(-45deg);
            transition: transform .3s;
        }
    }

}
body.noscroll{
    // スクロールバー非表示
    overflow: hidden;
}