.l-footer{
    height: 60px;
    background-color: #1B1310;
    color: #fff;
    p{
        width: 100%;
        margin: auto;
        display: block;
        // align-items: center;
        // text-align: center;
    }
    
}