.l-footer{
    // フッターの高さ
    height: 60px;
    @include breakpoint( breakpoint_large ) {
        height: 80px;
    }

    background-color: $color--background-color;
    color: $color--title-color;

    display: flex;              /* 親要素に指定 */
    justify-content: center;    /* 水平方向の指定 */
    align-items: center;        /* 垂直方向の指定 */

    p{
        font-size: 1.4rem;
    }
}